@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
}
:root {
  --black: #000;
  --gray: #8888;
  --red: #ff5353;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0 !important;
}
ul li a {
  text-decoration: none;
  color: var(--black);
}
.top-header {
  background-color: #fef7f6;
}
.logo {
  width: 88px;
}
.banner {
  background: url(../img/bg-1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 70vh;
  padding: 0;
}
.banner .banner-content {
  max-width: 475px;
  float: right;
  width: 100%;
  text-align: center;
}
.banner .banner-content .tagline {
  display: block;
  margin-bottom: 15px;
  color: var(--gray);
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.banner .banner-content h1 {
  font-weight: 500;
  font-size: 58px;
  line-height: 70px;
  margin-bottom: 45px;
}
.btn-default {
  font-family: "Roboto", sans-serif;
  background-color: var(--red);
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.8;
  min-width: 170px;
  padding: 20px 25px;
}
.sec-title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.text {
  margin-bottom: 0;
  color: var(--gray);
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* FEATURED-PRODUCT*/
.wrapper {
  margin-top: 30px;
}
.card {
  border: 1px solid #eee;
  cursor: pointer;
}
.weight {
  margin-top: -65px;
  transition: all 0.5s;
}
.weight small {
  color: #e2dede;
}
.buttons {
  padding: 10px;
  background-color: #d6d4d44f;
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.8s;
}
.dot {
  height: 14px;
  width: 14px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0;
}
.cart-button {
  height: 48px;
}
.cart-button:focus {
  box-shadow: none;
}
.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden;
}
.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards;
}
@keyframes item {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%;
  }
  25% {
    opacity: 1;
    left: 26%;
    top: 0%;
  }
  50% {
    opacity: 1;
    left: 23%;
    top: -22%;
  }
  75% {
    opacity: 1;
    left: 19%;
    top: -18%;
  }
  100% {
    opacity: 1;
    left: 14%;
    top: 28%;
  }
}
.card:hover .buttons {
  opacity: 1;
}
.card:hover .weight {
  margin-top: 10px;
}
.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
}

/* BANNER-02 */
.banner02 {
  background-color: #eae2d8;
  margin-top: 100px;
}
.banner02 .banner-content {
  max-width: 475px;
  float: right;
  width: 100%;
  text-align: center;
}
.banner02 .banner-content h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 33px;
  font-size: 58px;
  line-height: 70px;
}
.banner02 .banner-content h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 54px;
}

/* MOST POPULAR */
.product-grid {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image {
  position: relative;
  transition: all 0.3s ease 0s;
}
.product-grid .product-image a {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-grid .pic-1 {
  opacity: 1;
  transition: all 0.3s ease-out 0s;
}
.product-grid:hover .pic-1 {
  opacity: 1;
}
.product-grid .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out 0s;
}
.product-grid:hover .pic-2 {
  opacity: 1;
}
.product-grid .social {
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .social {
  opacity: 1;
  top: 50%;
}
.product-grid .social li {
  display: inline-block;
}
.product-grid .social li a {
  color: #fff;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.product-grid .social li a:hover {
  color: #fff;
  background-color: var(--red);
}
.product-grid .social li a:after,
.product-grid .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-grid .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}
.product-grid .social li a:hover:after,
.product-grid .social li a:hover:before {
  opacity: 1;
}
.product-grid .product-discount-label,
.product-grid .product-new-label {
  color: #fff;
  background-color: var(--red);
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
}
.product-grid .product-discount-label {
  background-color: #333;
  left: auto;
  right: 0;
}
.product-grid .rating {
  color: #ffd200;
  font-size: 12px;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: -1;
}
.product-grid .rating li.disable {
  color: rgba(0, 0, 0, 0.2);
}
.product-grid .product-content {
  background-color: #fff;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -27px;
  z-index: 1;
  transition: all 0.3s;
}
.product-grid:hover .product-content {
  bottom: 0;
}
.product-grid .title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-grid .title a {
  color: var(--gray);
}
.product-grid .title a:hover,
.product-grid:hover .title a {
  color: var(--red);
}
.product-grid .price {
  color: #333;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
  text-align: center;
  transition: all 0.3s;
}
.product-grid .price span {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
  display: inline-block;
}
.product-grid .add-to-cart {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}

/* FEATURES SECTION */
.features {
  margin-top: 100px;
}
.featureBox {
  border: 1px solid #ebeef0;
  position: relative;
  padding: 25px;
  text-align: center;
}
.featureBox .feat-icon {
  max-width: 56px;
  margin: 0 auto 27px;
}
.featureBox h5 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.featureBox p {
  margin-bottom: 0;
  color: #888;
  line-height: 18px;
}

/* TRENDING PRODUCTS  */
.product-grid6,
.product-grid6 .product-image6 {
  overflow: hidden;
}
.product-grid6 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: relative;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-grid6 .product-image6 a {
  display: block;
}
.product-grid6 .product-image6 img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover .product-image6 img {
  transform: scale(1.1);
}
.product-grid6 .product-content {
  padding: 12px 12px 15px;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover .product-content {
  opacity: 0;
}
.product-grid6 .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-grid6 .title a {
  color: #000;
}
.product-grid6 .title a:hover {
  color: var(--red);
}
.product-grid6 .price {
  font-size: 18px;
  font-weight: 600;
  color: var(--red);
}
.product-grid6 .price span {
  color: #999;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}
.product-grid6 .social {
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover .social {
  opacity: 1;
  bottom: 20px;
}
.product-grid6 .social li {
  display: inline-block;
}
.product-grid6 .social li a {
  color: #909090;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 1px solid #909090;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.product-grid6 .social li a:hover {
  color: #fff;
  background-color: var(--red);
  width: 80px;
}
.product-grid6 .social li a:after,
.product-grid6 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: var(--red);
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-grid6 .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}
.product-grid6 .social li a:hover:after,
.product-grid6 .social li a:hover:before {
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  .product-grid6 {
    margin-bottom: 30px;
  }
}

/* JOURNAL  */
.post-meta-data {
  position: relative;
  margin: 40px 10px;
}
.post-meta-data::before {
  content: "";
  position: absolute;
  background: var(--red);
  height: 10px;
  width: 20px;
  left: 0;
  top: 30%;
  border-radius: 2px;
}
.post-content a {
  text-decoration: none;
  color: var(--gray);
  transition: all 0.3s ease;
}
.post-content a:hover {
  color: var(--red) !important;
  text-decoration: none;
}
.post-content strong a {
  color: var(--black) !important;
}

/* FOLLOW US  */
.box8 .icon,
.box8 .title {
  margin: 0;
  position: absolute;
}
.box8 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
}
.box8 img {
  width: 100%;
  height: auto;
}
.box8 .box-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
}
.box8 .icon li a,
.box8 .title {
  background: var(--red);
  font-size: 20px;
  color: #fff;
}
.box8:hover .box-content {
  opacity: 1;
  transform: perspective(400px) rotateX(0);
}
.box8 .title {
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: 600;
  bottom: 20px;
  left: 20px;
  transition: all 0.9s ease 0s;
}
.box8 .icon li a,
.box9 .box-content,
.box9 .icon li,
.box9 img {
  transition: all 0.35s ease 0s;
}
.box8:hover .title {
  bottom: -40px;
}
.box8 .icon {
  list-style: none;
  padding: 0;
  top: 42%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box8 .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  text-align: center;
}
.box9 .icon,
.box9 .title {
  width: 100%;
  font-size: 22px;
}
.box8 .icon li a:hover {
  background: #fff;
  color: #000;
}
@media only screen and (max-width: 990px) {
  .box8 {
    margin-bottom: 20px;
  }
}
footer {
  background: #e9e2d8;
  margin-top: 50px;
  padding: 100px 0 50px;
}
footer a {
  text-decoration: none;
  transition: all 0.3s ease;
}
footer a:hover {
  color: var(--red);
  text-decoration: none;
}

.app-btn {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d8d9;
  padding-bottom: 30px;
}
.app-btn a {
  flex-basis: 49%;
  padding: 12px 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding-left: 35px;
  transition: all 300ms ease-in-out;
}
.app-btn .app-store {
  flex-basis: 49%;
  padding: 12px 10px;
  border-radius: 5px;
  background-color: var(--red) !important;
  position: relative;
  padding-left: 35px;
  transition: all 300ms ease-in-out;
}
.app-btn a i {
  color: var(--red);
  font-size: 20px;
  margin-right: 5px;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.app-btn .app-store i {
  color: #fff;
  background-color: var(--red);
  font-size: 20px;
  margin-right: 5px;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.app-btn a p {
  margin-bottom: 0;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
}
.app-btn .app-store p {
  margin-bottom: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
}
.app-btn a p span {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 0.8;
  margin-bottom: 5px;
}
.app-btn .app-store p span {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  line-height: 0.8;
  margin-bottom: 5px;
}
.app-btn a:hover {
  background-color: var(--red);
}
.app-btn a:hover i {
  color: #fff !important;
}
.app-btn a:hover span {
  color: #fff !important;
}
.app-btn a:hover p {
  color: #fff !important;
}
.btn.btn-sm {
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease;
}
.btn.btn-sm:hover {
  background-color: var(--red) !important;
}
.btn:hover i {
  color: #fff;
}
.foot-bottom {
  background: #e9e2d8;
  border-top: 0.5px solid gray;
}
.foot-bottom span {
  color: var(--red);
  font-weight: 300;
}
