@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
}
:root {
  --black: #000;
  --gray: #8888;
  --red: #ff5353;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0 !important;
}
ul li a {
  text-decoration: none;
  color: var(--black);
}
.top-header {
  background-color: #fef7f6;
}
.logo {
  width: 88px;
}
.banner {
  background: url(../img/bg-1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 70vh;
  padding: 0;
}
.banner .banner-content {
  max-width: 475px;
  float: right;
  width: 100%;
  text-align: center;
}
.banner .banner-content .tagline {
  display: block;
  margin-bottom: 15px;
  color: #565656;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.banner .banner-content h1 {
  font-weight: 500;
  font-size: 58px;
  line-height: 70px;
  margin-bottom: 45px;
}
.btn-default {
  font-family: "Roboto", sans-serif;
  background-color: var(--red);
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.8;
  min-width: 170px;
  padding: 20px 25px;
}
.sec-title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
.text {
  margin-bottom: 0;
  color: var(--gray);
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
